 p {
     font-family: Arial;
     margin: 0 0 3px 0;
     font-size: 17px;

 }

 .usd {
     color: rgb(145, 145, 145);
     font-size: 11px;
 }

 .price-change {
     color: rgb(60, 132, 66);
     font-size: 11px;
 }

 .after-hours {
     font-size: 11px;
     color: rgb(145, 145, 145);
 }

 .after-change {
     font-size: 11px;
     color: rgb(197, 79, 72);
 }